<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

        <div class="container">
                <hr>
                <h1>List of books</h1>
                <hr>
        </div>
            
        <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">
           
                        <div class="modal-body">
                            <form id="editForm" action="http://localhost:3000/books/save" method="PUT">
                                <h3>Search By</h3>
                                <div class="form-group">
                                    <label for="ISBN">ISBN</label>
                                    <input class="form-control" name="isbn" id="isbn">
                                </div>
            
                                <div class="form-group">
                                    <label for="Title">Title</label>
                                    <input class="form-control" name="title" id="title">
                                </div>
                                
                                <!--Other fields-->
                                <h2>All Books</h2>
                                <div class = "album py-5 bg-light">
                                <div class = "container" > 
                                    <div class = "row"> <% for(var i = 0; i <books.length; i++) { %>
                                            <div class="col-md-4"> 
                                                    <div class="card mb-4 shadown-sm">
                                                        <div class="card-body"> 
                                                            <h5 class="card-title"><%= books[i].title %></h5>
                                                            <h6 class="card-subtitle mb-2 text-muted"><%= books[i].isbn %></h6>
                                                            <div>Subtitle: <%= books[i].subtitle %></div>
                                                            <div>Author: <%= books[i].author %></div>
                                                            <div>Published: <%= books[i].published %></div>
                                                            <div>Publisher:<%= books[i].publisher %></div>
                                                            <div>Number Of Pages: <%= books[i].pages %></div>
                                                            <div>Description: <%= books[i].description %></div>
                                                            <div>Website: <%= books[i].website %></div>
                                                            <hr>
                                                            <button type="button" class="btn btn-danger">Delete</button>
                                                            <button types="button" class="btn btn-primary"
                                                                data-target="#editBookModal" onClick="">
                                                                Edit
                                                            </button>
                                                        </div>
                                                     </div>
                                                     </div>
                                                     <% } %>  </div>
                                </div>
                                </div>

                                
                                <button type="submit" class="btn btn-secondary my-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</body>
</html>